@media screen and (max-width: 1199px){
  .news{
    width: calc(50% - 15px);
  }
  .document{
    width: calc(50% - 15px);
  }
  .document.mod-small{
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;
    flex-grow: 1;
  }
  .group.mod-stretch .document.mod-small:nth-child(2n){
    margin-left: 30px;
  }
  .header__head-text__big{
    font-size: 32px;
    line-height: 32px;
  }
  .header__horizontal-bar__ico{
    padding-left: 20px;
    padding-right: 10px;
  }
  .catalog__tree{
    width: 320px;
  }
  .flex-wrap{
    width: calc(100% + 300px);
  }
  .catalog__window__breadcrumb ul{
    flex-wrap: wrap;
  }
  .catalog__window__body__line .line__third{
    width: 40%;
  }
  .catalog__window__body__line .line__four{
    width: 11%;
  }
  .catalog__window__body__line .line__five{
    width: 14.5%;
  }
  .catalog__window__body__line .line__six{
    width: 11%;
  }
  .catalog__window__body__line .line__seven{
    width: 12%;
  }
  .catalog__window__body__line .line__eight{
    width: 4%;
  }
  .alltable.mod-discussion{
    .catalog__window__body__line .line__third{
      width: 34%;
    }
    .catalog__window__body__line .line__seven{
      width: 20%;
    }
    .catalog__window__body__line.line-body .line__drop .line__third{
      width: 28%;
    }
    .catalog__window__body__line.line-body .line__drop__head{
      height: 34px;
    }
    .catalog__window__body__line .line__eight{
      height: 34px;
    }
    .search__teg-bar{
      padding: 10px 0 20px 0;
    }
  }
}
@media screen and (max-width: 991px){
  .header__head-text__small{
    font-size: 16px;
    line-height: 17px;
  }
  .header__horizontal-bar__pops{
    min-width: 300px;
  }
  .header__pops__flag{
    padding-right: 10px;
    padding-left: 10px;
  }
  .header__pops__flag__point{
    margin: 0 4px;
    width: 25px;
    height: 34px;
  }
  .header__pops__user{
    padding-left: 10px;
    padding-right: 35px;
  }
  .header__pops__user:before{
    right: 10px;
  }
  .header__pops__user__name{
    font-size: 14px;
    line-height: 20px;
  }
  .header__pops__user__prof{
    font-size: 14px;
  }
  .pops__body__card{
    width: calc((100% - 30px) / 3);
    padding: 10px 30px;
  }
  .pops__body__card .ico{
    top: 10px;
    left: 10px;
    width: 18px;
    height: 20px;
    font-size: 10px;
    line-height: 18px;
  }
  .ico__pops-green{
    background-size: 18px auto;
  }
  .ico__pops-red{
    background-size: 18px auto;
  }
  .ico__pops-blue{
    background-size: 18px auto;
  }
  .pops__body__card__value{
    right: 15px;
    top: 10px;
  }
  .document{
    width: 100%;
  }
  .news{
    width: 100%;
  }
  .content{
    padding: 130px 30px 0 100px;
  }
  .header__head-text__big{
    display: none;
  }
  .search__bar{
    padding: 20px 10px;
  }
  .alltable{
    padding: 100px 20px 0 70px;
  }
  .flex-wrap{
    width: 100%;
    .catalog__tree{
      position: absolute;
      z-index: 1;
      left: -230px;
      top: 100px;
    }
  }
  .flex-wrap.show{
    .catalog__tree{
      left: 70px;
    }
  }
  .flex-wrap.show .catalog__window{
    margin-left: 40px;
  }
  .header__pops__cover p{
    font-size: 11px;
  }
  .catalog__window .drop-ablist{
    width: 300px;
  }
  .header__pops__cover p:before{
    width: 12px;
  }
  .header__pops__cover p{
    padding-right: 17px;
  }
  .header__pops__drop__head__tabs.active p{
    font-size: 14px;
  }
  .header__pops__drop__head__tabs label{
    width: 30px;
    background-size: 20px auto !important;
    font-size: 11px;
    line-height: 37px;
  }
  .header__pops__drop__head__tabs{
    min-width: 30px;
  }
  .header__pops__drop__body__tabs ul{
    padding: 15px;
  }
  .alltable.mod-discussion .catalog__window__body__line .line__third{
    width: 26%;
  }
  .catalog__window__body__line .line__four {
    width: 15%;
    padding-left: 10px;
  }
  .catalog__window__body__line .line__five{
    width: 16.5%;
  }
  .mod-discussion .catalog__window__body__line.line-body .line__drop{
    padding: 10px 10px 10px 40px;
  }
  .alltable.mod-discussion .catalog__window__body__line.line-body .line__drop .line__third{
    width: 24%;
  }
  .catalog__window__body__line .line__four{
    width: 11%;
  }
  .mod-discussion .catalog__window__body__line.line-body .line__drop .line__eight{
    width: 8%;
  }
  .search__teg-bar__tegs{
    width: 90%;
  }
  .catalog__window .drop-ablist.active ~ .catalog__window__nav-bar{
    padding-right: 0;
  }
  .catalog__window .drop-ablist.active ~ .catalog__window__body{
    padding-right: 0;
  }
  .document-view__tree.active{
    width: 300px;
  }
  .document-view__pops.active{
    width: 300px;
  }
  .header__pops__cover{
    left: 0;
  }
}
@media screen and (max-width: 767px){
  .header__horizontal-bar{
    flex-wrap: wrap;
  }
  .header__horizontal-bar__pops{
    flex-grow: 1;
  }
  .header__pops__flag{
    flex-grow: 1;
  }
  .header__horizontal-bar{
    height: 74px;
  }
  .header__vertical-bar{
    top: 148px;
    height: 41px;
    width: 100%;
  }
  .header__vertical-bar ul{
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-top: 1px solid white;
  }
  .header__vertical-bar ul li a{
    border-left: none;
    border-bottom: 4px solid transparent;
  }
  .header__vertical-bar ul li a:hover{
    border-left: none;
    border-bottom: 4px solid white;
  }
  .header__vertical-bar ul li a.active{
    border-left: none;
    border-bottom: 4px solid #BF2C37;
  }
  .content{
    padding: 100px 20px 0 20px;
  }
  .header__horizontal-bar__pops{
    display: none;
  }
  .header__horizontal-bar__pops.active{
    display: flex;
  }
  .header__vertical-bar{
    display: none;
  }
  .header__vertical-bar.active{
    display: flex;
  }
  .pops__body__card{
    width: 100%;
    padding: 12px 40px;
    margin-bottom: 10px;
  }
  .pops__body__card .ico {
    top: 13px;
    left: 10px;
    width: 22px;
    height: 24px;
    font-size: 12px;
    line-height: 20px;
  }
  .pops{
    padding-bottom: 10px;
  }
  .document.mod-small{
    width: 100%;
  }
  .header__pops__drop{
    top: 115px;
  }
  .header__head-text__big{
    display: block;
    margin: 0;
  }
  .header__horizontal-bar__head-text{
    min-width: 50%;
  }
  .header__horizontal-bar__search{
    max-width: 100%;
    width: 100%;
    display: none;
    height: 100%;
    left: 0;
    top: 189px;
    position: absolute;
  }
  .header__horizontal-bar__search.active{
    display: block;
  }
  .search__bar{
    padding: 20px 15px 0 15px;
    height: 74px;
  }
  .search__bar__wrap{
    height: 40px;
  }
  .search__bar__wrap__submit{
    font-size: 12px;
    line-height: 40px;
    padding: 0 6px;
  }
  .search__bar__wrap a.search__bar__wrap__submit{
    font-size: 12px;
    line-height: 40px;
    padding: 0 6px;
  }
  .alltable {
    padding: 74px 20px 0 20px;
  }
  .flex-wrap .catalog__tree{
    left: -300px;
    top: 104px;
  }
  .flex-wrap.show .catalog__tree{
    left: 0;
  }
  .catalog__window{
    margin-top: 20px;
    margin-left: 0;
  }
  .document-view{
    padding: 74px 0 0 0;
  }
  .document-view__header{
    padding: 20px 15px;
  }
  .alltable.mod-search{
    padding: 74px 0 0 0;
  }
  .search__teg-bar{
    padding: 0 0 10px 0;
  }
  .catalog__window__nav-bar{
    padding-top: 0;
  }
  .catalog__window .drop-ablist{
    top: 74px;
  }
}
@media screen and (max-width: 574px){}